.boxpersonalInfo {
  background-color: white;
  box-shadow: 0 0 12px 2px #c2c2c2;
  margin-top: 2rem;
  padding: 2rem;
  margin-bottom: 1rem;
}
.personalRow {
  display: flex;
  justify-content: space-between;
}
.dropDown {
  margin-top: 2%;
  width: calc(15ch + 200px);
  padding-left: 1rem;
  margin-left: 2%;
}
.date {
  height: 55px;
  width: calc(15ch + 200px);
  margin-top: 1rem;
}
.row2 {
  display: flex;
  margin-top: 4%;
}
.checkP {
  height: 25px;
  border: #6eb6ff;
}
.labelP {
  font-size: 1rem;
  margin-left: 2%;
  color: #555a60;
}
.check1P {
  margin-left: 8%;
  height: 25px;
  border: #6eb6ff;
}
.label1P {
  font-size: 1rem;
  margin-left: 2%;
  color: #555a60;
}
.btnsP {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.btnBoxP {
  border-radius: 6px;
  background-color: #555a60;
  padding: 5px 80px;
  color: #eef2f5;
  box-shadow: 0 0 12px 2px #c2c2c2;
  border: 1px solid #555a60;
  cursor: pointer;
}
.btnBoxP:hover {
  transition: all 0.2s ease-in-out;
  background-color: #fff !important;
  color: #555a60;
}
.btnBox2P {
  border-radius: 6px;
  background-color: #6eb6ff;
  padding: 5px 80px;
  color: #eef2f5;
  box-shadow: 0 0 12px 2px #c2c2c2;
  border: 1px solid #6eb6ff;
  cursor: pointer;
}
.btnBox2P:hover {
  transition: all 0.2s ease-in-out;
  background-color: #fff !important;
  color: #6eb6ff;
}

@media (max-width: 497px) {
  .btnBoxP {
    padding: 5px 39px !important;
  }
  .btnBox2P {
    padding: 5px 39px !important;
  }
}
@media (max-width: 992px) {
  .personalRow{
    display: block;
  }
  .selectInput {
    width: 100% !important;
  }
  .date{
    width: auto;
  }
}
